<%# New Trip Form View %>
<div class="min-h-screen bg-gray-50" data-controller="material-tailwind">
  <main class="container mx-auto px-4 py-8 max-w-7xl">
    <%= render 'shared/page_header', title: 'Create New Trip' %>
    
    <%= render 'trips/form' %>
  </main>
</div>

